.app {
  max-width: 800px;
  margin: auto;
  padding: 0 1rem;
}

.choosableFormsContainer,
.resultsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.choosableFormCard {
  padding: 1rem;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
}

Button {
  width: 100%;
}

header {
  height: 60px;
  background: #272727;
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding: 10px;
  background-size: cover;
  background-image: url("https://cdn7.dissolve.com/p/D943_47_411/D943_47_411_1200.jpg");
  box-shadow: inset 104px 0px 92px 17px black;
}
